@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #1a1a1a; 
  color: #ffffff; 
}

body.light {
  background-color: #ffffff; 
  color: #000000; 
}

/* Navbar and button styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.toggle-button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.toggle-button.dark {
  background-color: #333;
  color: white;
}

.toggle-button.light {
  background-color: #eee;
  color: black;
}
